body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

nav {
    margin-top: 200px;
    position: fixed;
    background: linear-gradient(45deg, #005351, #22A39F);
    /* background-color: #22A39F; */
    overflow: hidden;
    height: 300x;
    width: 100px;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
}

nav a {
    color: white;
    width: 100px;
    text-decoration: none;
    text-align: center;
    padding: 14px 0px;
    /* font-family: 'Lucida Handwriting', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    float: left;
    font-size: 17px;
}


nav a:hover {
    background: linear-gradient(45deg, #002e2e, #184e4d);
    color: white;
}

a {
   display: inline-block;
}

.parallax {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('background image.jpg');
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.break {
    flex-grow: 1;
    flex-basis: 100%;
    height: 0;
}

hr {
    border-top: grey;
    margin-left: 150px;
    margin-right: 150px;
}

.sub1 {
    color: black;
    align-items: center;
    display: table;
    width: 900px;
    max-width: 1280px;
    padding: 0px 100px;
    margin: 0px 150px;
}

.brown-background {
    background-color: #F3EFE0;
}

.sub2 {
    color: black;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}


.sub1 h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    font-weight: 300;
    color: #22A39F;
    margin-bottom: 5px;
}

.sub2 h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    font-weight: 300;
    color: #22A39F;
    margin-bottom: 5px;
    margin-top: 15px;
    padding-top: 20px;
}

.row h3 {
    font-weight: 300;
    color: #22A39F;
    margin-bottom: 5px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.row p{
    font-size: 17px;
    color: #434242;
    font-family: 'Open Sans', sans-serif;
}

.col-1, .col-2, .col-3 {
    width: 33.333333%;
    float: left;
}

.profile {
    border-radius: 50%;
    border: 5px solid #22A39F;
}

.txt {
    margin-right: 200px;
    margin-left: 200px;
    text-align: left;
}

.txt h4 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #22A39F;
    margin-bottom: 10px;
    margin-top: 20px;
}

.txt h5 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 16px;
}

.resume-row {
    display: table;
    width: 900px;
}

.col-a {
    width: 33.3333%;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-a2 {
    width: 25%;
    float: left;
    margin-bottom: 20px;
}

.col-a2 h5 {
    margin-top: 20px;
    margin-bottom: 0;
}

.checked {
    color: #22A39F;
}

.col-a h5, .col-b h5  {
    margin-top: 10px;
}

.col-b {
    width: 66.6666%;
    float: left;
    height: 121.5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-b2 {
    width: 25%;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.stars {
    margin-top: 10px;
}

.location {
    color: #22A39F;
    font-size: 18px;
}

i {
    display: inline-block;
}

.linked {
    color: #22A39F;
    text-decoration: none;
}

.linked a:hover {
    color: #22A39F;
}

.descript {
    margin-top: 10px;
}

.contactme {
    place-items: center;
    text-align: center;
    list-style: none;
    padding-right: 50px;
}

.contactme li {
    position: relative;
    height: 70px;
    width: 70px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.contactme li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all 0.3s ease-in;
    background: linear-gradient(45deg, #005351, #22A39F);
    border-radius: 10%;
}

.contactme li.facebook:hover:before {
    transform: rotate(360deg);
    border-radius: 100%;
    background: #3b5998;
}

.contactme li.twitter:hover:before {
    transform: rotate(360deg);
    border-radius: 100%;
    background: #1DA1F2;
}

.contactme li.instagram:hover:before {
    transform: rotate(360deg);
    border-radius: 100%;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)
}

.contactme li.github:hover:before {
    transform: rotate(360deg);
    border-radius: 100%;
    background: #000000;
}

.contactme li.linkedin:hover:before {
    transform: rotate(360deg);
    border-radius: 100%;
    background: #0e76a8;
}

.contactme li.envelope:hover:before {
    transform: rotate(360deg);
    border-radius: 100%;
    background: linear-gradient(45deg, #5fc9f8, #147efb);
}

.contactme li.pinterest:hover:before {
    transform: rotate(360deg);
    border-radius: 100%;
    background: #c8232c;
}


.contactme li a span {
    color: #fff;
    line-height: 70px;
    font-size: 27px;
    transition: all 0.3s ease-out;
}

.contactme li:hover a span {
    transform: scale(1.2);
}

footer{
    background-color: black;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

footer p{
    margin-top: 0px;
    height: 30px;
    padding-top: 35px;
    margin-bottom: 0px;
    padding-bottom: 35px;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}